###Insertion Sort

An algorithm sort the disordered sequence. Insert each element of disordered sequence into an ordered sequence.

Increasing Order

In [6]:
l=list(range(10,-1,-1))
print(l)
l[3:4]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

[7]

In [0]:
import numpy as np

In [0]:
def insert_sort_increasing(arr):
  for i in range(1,len(arr)):
    k=0
    x=arr[i]
    for j in range(i-1,-1,-1):
      if arr[i]>arr[j]:
        k=j+1
        break
    arr[k+1:i+1]=arr[k:i]
    arr[k]=x
  return arr

In [27]:
N=20
Seq=list(map(lambda x:int(np.random.rand()*30)+1,range(N)))
print(Seq)
Seq_order=insert_sort_increasing(Seq)
print(Seq_order)

[25, 16, 19, 22, 5, 24, 5, 6, 18, 14, 18, 7, 11, 25, 19, 25, 3, 25, 11, 18]
[3, 5, 5, 6, 7, 11, 11, 14, 16, 18, 18, 18, 19, 19, 22, 24, 25, 25, 25, 25]

Decreasing Order

In [0]:
def insert_sort_decreasing(arr):
  for i in range(1,len(arr)):
    k=0
    x=arr[i]
    for j in range(i-1,-1,-1):
      if arr[i]<arr[j]:
        k=j+1
        break
    arr[k+1:i+1]=arr[k:i]
    arr[k]=x
  return arr

In [30]:
N=20
Seq=list(map(lambda x:int(np.random.rand()*30)+1,range(N)))
print(Seq)
Seq_order=insert_sort_decreasing(Seq)
print(Seq_order)

[28, 29, 18, 5, 29, 7, 19, 7, 30, 18, 23, 10, 20, 16, 8, 8, 30, 11, 3, 26]
[30, 30, 29, 29, 28, 26, 23, 20, 19, 18, 18, 16, 11, 10, 8, 8, 7, 7, 5, 3]

In [31]:
l=[31,41,59,26,41,58]
l_decrease=insert_sort_decreasing(l)
print(l_decrease)
l_increase=insert_sort_increasing(l)
print(l_increase)

[59, 58, 41, 41, 31, 26]
[26, 31, 41, 41, 58, 59]